body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
    width: 500px;
    padding: 40px;
    height: 880px;
}

#produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.produto {
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    border-radius: 20px;
}

.produto:hover {
    transform: scale(1.01);
    box-shadow: 3px 4px 10px 10px rgba(0, 0, 0, 0.6);
}

#navbar .container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(170, 30, 0);
    height: 200px;
    box-shadow: 5px 5px rgb(253, 207, 207);
}

.nav_actions {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    gap: 20px;
}

.card_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.card_image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    height: 490px;
    width: 480px;
    object-fit: cover;
}

button.navbar {
    background-color: rgb(175, 30, 0);
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 60px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: all 0.5s ease;
}

button.navbar:hover {
    border-radius: 10px;
    transform: translate3d(15px, -15px, 20px);
    background-color: rgb(200, 30, 0);
    width: 140px;
    height: 60px;
    box-shadow: 6px 8px black;
    text-transform: capitalize;
}

.card_description {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
}

.card_description h4 {
    font-size: 20px;
}

.card_price {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.actions {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button.actions {
    text-align: center;
    border-radius: 25px;
    border: none;
    width: 190px;
    height: 45px;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(160, 30, 0);
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
}

button.actions:hover {
    border-radius: 15px;
    transform: translate3d(-8px, -5px, 10px);
    background-color: rgb(200, 30, 0);
    width: 195px;
    height: 48px;
    box-shadow: 4px 6px black;
}

#presentation {
    text-align: center;
    transition: all 0.8s ease;
    font-size: 25px;
    height: 90px;
}

.phrase {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    font-size: 30px;
}

#presentation:hover {
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
    height: 180px;
}

#presentation:hover .phrase{
    opacity: 1;
    visibility: visible;
}


#history {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#history .container {
    box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    height: 80px;
    transition: all 1s ease;
}

#history h3 {
    font-size: 25px;
}


.body {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
}

#history .container:hover {
    height: 150px;
    text-align: left;
}

#history .container:hover .body {
    opacity: 1;
    visibility: visible;
}

#footer {
    background-color: rgb(170, 30, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 90px;
}

#footer small {
    font-size: 20px;
}
